<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>


    <section class="about-head">
        <div class="container py-5 ">
            <h2 class=" text-center">About Me</h2>
        </div>
    </section>


    <!-- about me -->

    <section class="about">
        <div class="container py-5">

            <div class="row">
                <div class="col-lg-6 border-2 px-5 mb-4 mb-lg-0">


                    <img src="assets/img/aboutme.jpg" alt=""
                        class="img-fluid border border-secondary border-2 mb-5 rounded-4">

                    <div class="d-flex justify-content-center align-items-center gap-4 about-icons">

                        <i class="fa-brands fa-facebook text-primary "></i>
                        <i class="fa-brands fa-instagram .text-secondary-emphasis"></i>
                        <i class="fa-brands fa-twitter text-info"></i>
                        <i class="fa-brands fa-youtube text-danger"></i>

                    </div>
                </div>

                <div class="col-lg-6 px-5">
                    <h2>Hey hi! I am Aisshwarya.</h2>
                    <img src="assets/img/double-quotes.png" alt="" width="70px">
                    <p>I am here to talk to you as your tea time buddy, about some life hacks, self-care
                        tips and ideas
                        to make
                        you feel more content with your life.
                    </p>
                    <p>
                        I am an emotional, happy-go-lucky girl who loves animals, plants, observing human nature,
                        listening to
                        other’s stories and writing about ideas to make life better in my diary. One day I thought
                        why
                        not share
                        them with others? And that’s how I decided to start this blog...
                    </p>

                    <p>Most of us are so caught up with day-to-day life, busy schedule, workload and home
                        responsibilities that often we don’t realise how easy it can be to deal with issues that
                        bother
                        us. Making life less complicated and more amazing is not a tough task. It’s just that our
                        minds
                        are occupied with so many things that we overlook simple things, focus on bigger problems,
                        overthink and end up getting overwhelmed.</p>

                    <p> I am here to remind you of such easy breezy tips and tricks!</p>

                    <p> Perhaps you might be knowing many of them already but while reading the posts here, who
                        knows
                        you will just end up figuring out what you needed to do. Perhaps you just needed someone to
                        show
                        you some ways to simplify life. Perhaps you just needed to talk about it over a cup of tea
                        with
                        a friend.</p>

                    <p> So, let’s do it often!</p>

                </div>
            </div>

        </div>
    </section>




    <!-- newsletter -->

    <app-newsletter></app-newsletter>



    <!-- video gallery -->

    <section class="video-gallery" data-aos="fade-up">
        <div class="container p-4">

            <h2 class="fw-bold fs-3 mb-4 text-center text-capitalize">Video Gallery</h2>

            <div class=" container mb-4">
                <div class="row row-cols-1   row-cols-md-4   g-4 ">


                    <div class="col-lg-4">
                        <div class=" card">
                            <video src="assets/img/video1.mp4" class="rounded-top" controls></video>
                            <div class="card-body ">
                                <h6 class="card-text text-center"> Video 1</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class=" card ">
                            <video src="assets/img/video4.mp4" class="rounded-top" controls></video>
                            <div class="card-body">
                                <h6 class="card-text text-center"> Video 2</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class=" card ">
                            <video src="assets/img/video6.mp4" class="rounded-top" controls></video>
                            <div class="card-body">
                                <h6 class="card-text text-center"> Video 3</h6>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="text-center">
                <a href="" class="btn">
                    View more
                </a>
            </div>

        </div>

    </section>


</body>

</html>
