<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>


    <section class="photo-gallery-heading">
        <div class="container py-5 text-center">
            <i class="fa-solid fa-photo-film mb-3 "></i>
            <h2>Photo Gallery</h2>
        </div>
    </section>



    <section class="photo-gallery">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="row-lg-4 mb-4">
                        <img src="assets/img/R-6.png" alt="" class="img-fluid">
                    </div>

                    <div class="row-lg-4 mb-4">
                        <img src="assets/img/R-4.png" alt="" class="img-fluid">
                    </div>

                    <div class="row-lg-4 mb-4">
                        <img src="assets/img/G-2.png" alt="" class="img-fluid">
                    </div>
                    <div class="row-lg-4 mb-4">
                        <img src="assets/img/R-3.png" alt="" class="img-fluid">
                    </div>

                </div>



                <div class="col-lg-4">
                    <div class="row-lg-4 mb-4">
                        <img src="assets/img/G-1.png" alt="" class="img-fluid">
                    </div>

                    <div class="row-lg-4 mb-4">
                        <img src="assets/img/R-1.png" alt="" class="img-fluid">
                    </div>

                    <div class="row-lg-4 mb-4">
                        <img src="assets/img/R-9.png" alt="" class="img-fluid">
                    </div>

                    <div class="row-lg-4 mb-4">
                        <img src="assets/img/R-8.png" alt="" class="img-fluid">
                    </div>
                </div>


                <div class="col-lg-4">
                    <div class="row-lg-4 mb-4">
                        <img src="assets/img/R-8.png" alt="" class="img-fluid">
                    </div>

                    <div class="row-lg-4 mb-4">
                        <img src="assets/img/R-7.png" alt="" class="img-fluid">
                    </div>

                    <div class="row-lg-4 mb-4">
                        <img src="assets/img/R-10.png" alt="" class="img-fluid">
                    </div>

                    <div class="row-lg-4 mb-4">
                        <img src="assets/img/G_3.png" alt="" class="img-fluid">
                    </div>
                </div>

            </div>
        </div>
    </section>



    <section class="video-gallery-heading" data-aos="fade-up">
        <div class="container py-5 text-center">
            <i class="fa-solid fa-photo-film  mb-3"></i>
            <h2>Video Gallery</h2>
        </div>
    </section>



    <section class="video-gallery">
        <div class="container py-4">


            <div class=" container py-lg-5 mb-3">
                <div class="row row-rows-1   row-rows-md-4   g-4 ">


                    <div class="col-lg-4">
                        <div class=" card">
                            <video src="assets/img/video1.mp4" class="rounded-top" controls></video>
                            <div class="card-body ">
                                <h6 class="card-text text-center"> Video 1</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class=" card ">
                            <video src="assets/img/video4.mp4" class="rounded-top" controls></video>
                            <div class="card-body">
                                <h6 class="card-text text-center"> Video 2</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class=" card ">
                            <video src="assets/img/video6.mp4" class="rounded-top" controls></video>
                            <div class="card-body">
                                <h6 class="card-text text-center"> Video 3</h6>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class=" container py-lg-5 ">
                <div class="row row-rows-1   row-rows-md-4   g-4 ">


                    <div class="col-lg-4">
                        <div class=" card">
                            <video src="assets/img/video3.mp4" class="rounded-top" controls></video>
                            <div class="card-body ">
                                <h6 class="card-text text-center"> Video 4</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class=" card ">
                            <video src="assets/img/video5.mp4" class="rounded-top" controls></video>
                            <div class="card-body">
                                <h6 class="card-text text-center"> Video 5</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class=" card ">
                            <video src="assets/img/video8.mp4" class="rounded-top" controls></video>
                            <div class="card-body">
                                <h6 class="card-text text-center"> Video 6</h6>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



        </div>

    </section>


</body>

</html>
