<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>



    <section class="blog-head">
        <div class="container text-center py-5">
            <h2 class="fw-bold">Blog</h2>
        </div>
    </section>



    <section class="blog">
        <div class="container py-5">


            <div class=" container mb-5">
                <div class="row row-cols-1   row-cols-md-2 row-cols-lg-4   g-4 ">


                    <div class="col">
                        <div class=" card ">
                            <img src="assets/img/blog1.jpg" alt="">
                            <div class="card-body ">
                                <h6 class="card-text text-center"> How to make your life meaningful?</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class=" card ">
                            <img src="assets/img/blog2.jpg" alt="">
                            <div class="card-body">
                                <h6 class="card-text text-center">66 things to become truly happy</h6>
                            </div>
                        </div>
                    </div>


                    <div class="col">
                        <div class="card ">
                            <img src="assets/img/blog8.png" alt="">
                            <div class="card-body">
                                <h6 class="card-text text-center">How can I support myself today?</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class=" card ">
                            <img src="assets/img/blog4.jpg" alt="">
                            <div class="card-body">
                                <h6 class="card-text text-center"> How to reduce stress in life?</h6>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="container ">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4  g-4">


                    <div class="col ">
                        <div class="card   ">
                            <img src="assets/img/blog5.jpg" alt="">
                            <div class="card-body">
                                <h6 class="card-text text-center">The act of kindness</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card ">
                            <img src="assets/img/blog6.jpg" alt="">
                            <div class="card-body">
                                <h6 class="card-text text-center">Self love</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card ">
                            <img src="assets/img/blog7.png" alt="">
                            <div class="card-body">
                                <h6 class="card-text text-center">What makes me happy?</h6>
                            </div>
                        </div>
                    </div>


                    <div class="col">
                        <div class=" card ">
                            <img src="assets/img/blog3.jpg" alt="">
                            <div class="card-body">
                                <h6 class="card-text text-center"> The art of letting go</h6>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </section>



    <section class="signup">
        <div class="container py-5 text-center">
            <h2 class="mb-5">Sign Up and Get All My Blogs</h2>

            <form action="" class="mb-5">
                <input type="email" name="" id="" placeholder="Enter email" class="p-1 border-0 mb-4 mb-md-0">
                <button class="btn ms-3" type="submit"> Submit</button>
            </form>

            <div class="d-flex justify-content-center align-items-center gap-4">

                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-youtube"></i>

            </div>

        </div>
    </section>



</body>

</html>