*{
    font-family: 'Pacifico', cursive;
}



.blog-head{
    background-color: bisque;
}

.blog-head h2{
    color: #A82C08;
}

.blog img:hover{
    opacity: 0.5;
}


/* signup */
.signup h2{
    color: #A82C08;
}

.signup button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #C08261;
    color: #fff;
    box-shadow: 2px 2px 4px rgb(150, 149, 149);
}

.signup button:hover{
    background-color: #ac7456;
    box-shadow: 4px 4px 8px #C08261;
}

.signup i{
    font-size: 25px;
    color: gray;
}