<!-- home -->


<section class="home">
  <div class="container py-5">

    <div class="row">
      <div class="col-lg-6 py-4">
        <h2 class="mb-4 fw-bold ">Welcome to the Tea Time Journal!</h2>
        <p class="fs-4">Let’s talk about simple life hacks and self-care ideas to keep you sane, healthy and happy!
        </p>

        <p class="fs-4"> Here you will find variety of topics related to our day to day life and step-by-step guide on
          how to deal
          with life issues to make it less complicated and more fulfilling.</p>
      </div>

      <div class="col-lg-6">
        <img src="assets/img/home.jpg" alt="" class="img-fluid">
      </div>
    </div>

  </div>
</section>






<!-- about me -->

<section class="about" data-aos="fade-up">
  <div class="container py-4">

    <h2 class="fw-bold text-center mb-4">About Me</h2>

    <div class="row">
      <div class="col-lg-6 border-2 px-5 mb-4 mb-lg-0">
        <img src="assets/img/aboutme.jpg" alt="" class="img-fluid border border-secondary border-2 rounded-4">
      </div>

      <div class="col-lg-6 px-5">
        <img src="assets/img/double-quotes.png" alt="" width="70px">
        <p class="fs-4">I am here to talk to you as your tea time buddy, about some life hacks, self-care tips and ideas
          to make
          you feel more content with your life.
        </p>
        <p class="fs-4 mb-4">
          I am an emotional, happy-go-lucky girl who loves animals, plants, observing human nature, listening to
          other’s stories and writing about ideas to make life better in my diary. One day I thought why not share
          them with others? And that’s how I decided to start this blog...
        </p>

        <div class="text-center">
          <a href="" class="btn">
            View more
          </a>
        </div>

      </div>
    </div>

  </div>
</section>


<!-- blog -->

<section class="blog" data-aos="fade-up">
  <div class="container p-4">

      <h3 class="fw-bold fs-3 mb-4 text-center text-capitalize">Blog</h3>

      <div class=" container mb-4">
          <div class="row row-cols-1   row-cols-md-4   g-4 ">


              <div class="col">
                  <div class=" card ">
                      <img src="assets/img/blog1.jpg" alt="" >
                      <div class="card-body ">
                          <h6 class="card-text text-center"> How to make your life meaningful?</h6>
                      </div>
                  </div>
              </div>

              <div class="col">
                  <div class=" card ">
                      <img src="assets/img/blog2.jpg" alt="" >
                      <div class="card-body">
                          <h6 class="card-text text-center">66 things to become truly happy</h6>
                      </div>
                  </div>
              </div>

              <div class="col">
                <div class="card ">
                    <img src="assets/img/blog8.png" alt="" >
                    <div class="card-body">
                        <h6 class="card-text text-center">How can I support myself today?</h6>
                    </div>
                </div>
            </div>


              <div class="col">
                  <div class=" card ">
                      <img src="assets/img/blog4.jpg" alt="" >
                      <div class="card-body">
                          <h6 class="card-text text-center"> How to reduce stress in life?</h6>
                      </div>
                  </div>
              </div>

          </div>
      </div>

      <div class="container mb-4">
          <div class="row row-cols-1 row-cols-md-4 g-4">


              <div class="col">
                  <div class="card   ">
                      <img src="assets/img/blog5.jpg" alt="" >
                      <div class="card-body">
                          <h6 class="card-text text-center">The act of kindness</h6>
                      </div>
                  </div>
              </div>

              <div class="col">
                  <div class="card ">
                      <img src="assets/img/blog6.jpg" alt="" >
                      <div class="card-body">
                          <h6 class="card-text text-center">Self love</h6>
                      </div>
                  </div>
              </div>

              <div class="col">
                  <div class="card ">
                      <img src="assets/img/blog7.png" alt="" >
                      <div class="card-body">
                          <h6 class="card-text text-center">What makes me happy?</h6>
                      </div>
                  </div>
              </div>

              
              <div class="col">
                <div class=" card ">
                    <img src="assets/img/blog3.jpg" alt="">
                    <div class="card-body">
                        <h6 class="card-text text-center"> The art of letting go</h6>
                    </div>
                </div>
            </div>

          </div>
      </div>


      <div class="text-center">
          <a href="" class="btn">
              View more
          </a>
      </div>

  </div>

</section>



<!-- newsletter -->

<app-newsletter></app-newsletter>



<!-- video gallery -->

<section class="video-gallery" data-aos="fade-up">
  <div class="container p-4">

    <h2 class="fw-bold fs-3 mb-4 text-center text-capitalize">Video Gallery</h2>

    <div class=" container mb-4">
      <div class="row row-cols-1   row-cols-md-4   g-4 ">


        <div class="col-lg-4">
          <div class=" card">
            <video src="assets/img/video1.mp4" class="rounded-top" controls></video>
            <div class="card-body ">
              <h6 class="card-text text-center"> Video 1</h6>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class=" card ">
            <video src="assets/img/video4.mp4" class="rounded-top" controls></video>
            <div class="card-body">
              <h6 class="card-text text-center"> Video 2</h6>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class=" card ">
            <video src="assets/img/video6.mp4" class="rounded-top" controls></video>
            <div class="card-body">
              <h6 class="card-text text-center"> Video 3</h6>
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="text-center">
      <a href="" class="btn">
        View more
      </a>
    </div>

  </div>

</section>
